<section class="our-work">
    <h2>Нашите постижения</h2>
    <p>Ние сме отдадени на нашата работа и даваме всичко от себе си за да са доволни нашите клиенти!</p>
    <p>Едно от безспорните доказателства за качеството на нашата работа е 15-ти национален БМВ събор, проведен през 2016 г.</p>
    <p>Първото място за него ни дава още повече мотивация да продължаваме напред. За победителя, извършихме пълна реновация на кожения салон и текстилните елементи от интериора на автомобила – седалки, волан, кори на врати, табло, таван и мокетен под. Клиентът
        пристигна специално от Варна при нас, защото желаеше да се извърши професионална реновация на целия интериор, като се запази първоначалния автентичен вид на луксозния автомобил. Колата имаше доста дефекти, някои от които стандартни проблеми за
        бежовите салони, като захабени дръжки на вратите. Седалките бяха частично изтрити със следи от одрасквания, по синия кант се забелязваха дефекти, по луксозния подлакътник имаше драскотини и други дефекти. Всичките амортизирани и увредени детайли,
        създаваха усещане за вехтост, но ние познаваме добрите салони и бяхме убедени, че този салон, ще стане като нов след нашата намеса. В подобна ситуация, много собственици предпочитат да претапицират салоните си с изкуствена кожа, което е ужасно
        и се случва, само защото не знаят, че оригиналната здрава кожа с прекрасните оригинални шевове, може да бъде възстановена на 100%. След 4 дни упорита и неспирна работа, екипа на "Интериор ауто" – гр. Русе най- накрая възстановяват напълно целия
        автомобил. В последния ден сглобихме отново целия автомобил, като финални щрихи полирахме махагоновите и хромирани елементи в интериора.</p>
    <section class="gallery-contest">
        <section class="img-cont">
            <img src="{{ site.baseurl }}/images/prize/1.jpg" alt="image">
        </section>
        <section class="img-cont">
            <img src="{{ site.baseurl }}/images/prize/3.jpg" alt="image">
        </section>
        <section class="img-cont">
            <img src="{{ site.baseurl }}/images/prize/6.jpg" alt="image">
        </section>
        <section class="img-cont">
            <img src="{{ site.baseurl }}/images/prize/7.jpg" alt="image">
        </section>
        <section class="img-cont">
            <img src="{{ site.baseurl }}/images/prize/8.jpg" alt="image">
        </section>
        <section class="img-cont">
            <img src="{{ site.baseurl }}/images/prize/9.jpg" alt="image">
        </section>
        <section class="img-cont">
            <img src="{{ site.baseurl }}/images/prize/10.jpg" alt="image">
        </section>
    </section>
</section>
<section class="testimonials">
    <p>МНЕНИЯ И ПРЕПОРЪКИ</p>
    <h2>Какво казват нашите клиенти за нас:</h2>
    <section class="testimonials-container-outer">
        <section class="testimonials-container">
            <img src="{{ site.baseurl }}/images/ui-faces/1.jpg" alt="">
            <section class="testimonials-container-inner">
                <blockquote>Купих си много изгодно кола от Англия с десен волан. Обърнах се към екипът от "interior Auto". За 2 седмици колата беше с обърната дирекция. Много съм доволен! И до ден днешен нямам проблеми с нея.</blockquote>
            </section>
            <div>
                <p class="name">Явор Г.</p>
                <p class="data">15.04.2019</p>
            </div>
        </section>
        <section class="testimonials-container">
            <img src="{{ site.baseurl }}/images/ui-faces/2.jpg" alt="">
            <section class="testimonials-container-inner">
                <blockquote>От дългогодишното използване на автомобила ми, таблото се беше напукало от слънцето. Случайно разбрах за "interior Auto", от приятел. Таблото беше като ново. Дадоха ми и 3г. гаранция. Тези момчета наистина си разбират от работата!</blockquote>
            </section>
            <div>
                <p class="name">Петър М.</p>
                <p class="data">02.03.2019</p>
            </div>
        </section>
        <section class="testimonials-container">
            <img src="{{ site.baseurl }}/images/ui-faces/3.jpg" alt="">
            <section class="testimonials-container-inner">
                <blockquote>Кожената тапицерия на автомобила ми беше доста изтъркана и напукана. Момчетата от "interior Auto" ми я направиха като нова за 4 дни! Препоръчвам сервиза горещо!</blockquote>
            </section>
            <div>
                <p class="name">Теодор П.</p>
                <p class="data">01.04.2019</p>
            </div>
        </section>
    </section>
</section>