<section class="testimonials">
    <p>TESTIMONIALS</p>
    <h2>What do our clients say about us:</h2>
    <section class="testimonials-container-outer">
        <section class="testimonials-container">
            <img src="{{ site.baseurl }}/images/ui-faces/1.jpg" alt="">
            <section class="testimonials-container-inner">
                <blockquote>I bought a car from England with right direction at very good price. I left my car to the team of "Interior auto". For two weeks the car was ready with turned direction. I'm really satisfied! Still I don't have any problems with my car.
                </blockquote>
            </section>
            <div>
                <p class="name">Yavor G.</p>
                <p class="data">15.04.2019</p>
            </div>
        </section>
        <section class="testimonials-container">
            <img src="{{ site.baseurl }}/images/ui-faces/2.jpg" alt="">
            <section class="testimonials-container-inner">
                <blockquote>I drive my car long years. The dashboard was cracked from the sun. A friend of mine told me about "Interior auto". After the restoration the dashboard was like new. They gave me 3 years warranty. Those guys are really good at what they
                    do!
                </blockquote>
            </section>
            <div>
                <p class="name">Peter M.</p>
                <p class="data">02.03.2019</p>
            </div>
        </section>
        <section class="testimonials-container">
            <img src="{{ site.baseurl }}/images/ui-faces/3.jpg" alt="">
            <section class="testimonials-container-inner">
                <blockquote>My car's upholstery was very cracked and weared out. The guys from "Interior auto" restored if in 4 days! I really recommend this service!</blockquote>
            </section>
            <div>
                <p class="name">Teodor P.</p>
                <p class="data">01.04.2019</p>
            </div>
        </section>
    </section>
</section>