<section class="testimonials">
    <p>МНЕНИЯ И ПРЕПОРЪКИ</p>
    <h2>Какво казват нашите клиенти за нас:</h2>
    <section class="testimonials-container-outer">
        <section class="testimonials-container">
            <img src="{{ site.baseurl }}/images/ui-faces/1.jpg" alt="">
            <section class="testimonials-container-inner">
                <blockquote>Купих си много изгодно кола от Англия с десен волан. Обърнах се към екипът от "Interior Auto". За 2 седмици колата беше с обърната дирекция. Много съм доволен! И до ден днешен нямам проблеми с нея.</blockquote>
            </section>
            <div>
                <p class="name">Явор Г.</p>
                <p class="data">15.04.2019</p>
            </div>
        </section>
        <section class="testimonials-container">
            <img src="{{ site.baseurl }}/images/ui-faces/2.jpg" alt="">
            <section class="testimonials-container-inner">
                <blockquote>От дългогодишното използване на автомобила ми, таблото се беше напукало от слънцето. Случайно разбрах за "Interior Auto", от приятел. Таблото беше като ново. Дадоха ми и 3г. гаранция. Тези момчета наистина си разбират от работата!</blockquote>
            </section>
            <div>
                <p class="name">Петър М.</p>
                <p class="data">02.03.2019</p>
            </div>
        </section>
        <section class="testimonials-container">
            <img src="{{ site.baseurl }}/images/ui-faces/3.jpg" alt="">
            <section class="testimonials-container-inner">
                <blockquote>Кожената тапицерия на автомобила ми беше доста изтъркана и напукана. Момчетата от "Interior Auto" ми я направиха като нова за 4 дни! Препоръчвам сервиза горещо!</blockquote>
            </section>
            <div>
                <p class="name">Теодор П.</p>
                <p class="data">01.04.2019</p>
            </div>
        </section>
    </section>
</section>