<section class="contacts-content">
    <section class="contacts-content-form">
        <form method="POST" action="https://formspree.io/interiorauto@abv.bg">
            <h4>Get in touch with us!</h4>
            <fieldset>
                <p>
                    <p for="name">Name:</p>
                    <div class="field-input">
                        <i class="fas fa-user"></i>
                        <input type="text" name="name" id="name" placeholder="Name" required>
                    </div>
                </p>
                <p>
                    <p for="email">Email:</p>
                    <div class="field-input">
                        <i class="fas fa-envelope"></i>
                        <input type="email" name="_replyto" id="email" placeholder="Email" required>
                    </div>
                </p>
                <p class="text-area-par">
                    <textarea name="message" id="message" rows="10" cols="20" placeholder="Message..." required></textarea>
                </p>
                <input type="submit" class="button" value="SEND" target="_blank" id="submitMessage">
            </fieldset>
        </form>
    </section>
    <section class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2877.02982079719!2d25.98613371555118!3d43.85521057911495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40ae6753d4086bcf%3A0xe01457986945b4a6!2z0YPQuy4g4oCe0J_QvtGC0YHQtNCw0LzigJwgOCwgNzAwNSDQmNC30YLQvtGH0L3QsCDQv9GA0L7QvNC40YjQu9C10L3QsCDQt9C-0L3QsCwg0KDRg9GB0LU!5e0!3m2!1sbg!2sbg!4v1557437911512!5m2!1sbg!2sbg"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>
</section>
<section class="credentails-bar">
    <section class="sub-credentails-bar">
        <i class="fas fa-phone-square"></i>
        <section class="credentails-location-text">
            <h6>Call us now:</h6>
            <a href="tel:00884512171">+359 884 512 171</a>
        </section>
    </section>
    <section class="sub-credentails-bar">
        <i class="fas fa-map-marker-alt"></i>
        <section class="credentails-location-text">
            <h6>Address:</h6>
            <p>Ruse, str. "Potsdam"8</p>
        </section>
    </section>
    <section class="sub-credentails-bar">
        <i class="far fa-clock"></i>
        <section class="credentails-location-text">
            <h6>Working time:</h6>
            <p>Monday - Friday:</p>
            <p>9:00 a.m. - 17:00 p.m.</p>
        </section>
    </section>
    <section class="sub-credentails-bar">
        <i class="fas fa-envelope"></i>
        <section class="credentails-location-text">
            <h6>Email:</h6>
            <p>interiorauto@abv.bg</p>
        </section>
    </section>
    <section class="sub-credentails-bar">
        <a href="https://www.facebook.com/Interiorauto-443183239587765/" target="_blank"><i class="fab fa-facebook-square"></i></a>
        <section class="credentails-location-text">
            <h6>We are social:</h6>
            <a href="https://www.facebook.com/Interiorauto-443183239587765/" target="_blank">Facebook</a>
        </section>
    </section>
    <section class="sub-credentails-bar">
        <i class="fas fa-globe"></i>
        <section class="credentails-location-text">
            <h6>Website:</h6>
            <p>www.interiorauto.bg</p>
        </section>
    </section>
</section>