<section class="credentails-bar-home">
    <section class="sub-credentails-bar-home">
        <i class="fas fa-map-marker-alt"></i>
        <section class="credentails-location-text">
            <h6>Address:</h6>
            <p>Ruse, str."Potsdam"8</p>
        </section>
    </section>
    <section class="sub-credentails-bar-home">
        <i class="fas fa-phone"></i>
        <section class="credentails-location-text">
            <h6>Phone:</h6>
            <a href="tel:00884512171">+359 884 512 171</a>
        </section>
    </section>
    <section class="sub-credentails-bar-home">
        <i class="far fa-clock"></i>
        <section class="credentails-location-text">
            <h6>Working time:</h6>
            <p>Monday - Friday:</p>
            <p>9:00 a.m. - 17:00 p.m.</p>
        </section>
    </section>
</section>