<h3><strong>interior</strong>Auto</h3>
<hr> {% if page.lang=="bg" %}
<div>
    <a href="{{ site.baseurl }}/general-items/">Общи условия</a>
</div>
<div>
    <a href="{{ site.baseurl }}/privacy-policy/">Политика за поверителност</a>
</div>
{% endif %} {% if page.lang=="en" %}
<div>
    <a href="{{ site.baseurl }}/general-items-en/">General items</a>
</div>
<div>
    <a href="{{ site.baseurl }}/privacy-policy-en/">Privacy policy</a>
</div>
{% endif %}
<p class="creator">&copy; 1900-2019 created by Gergana Tsirkova All Rights Reserved</p>