<section class="gallery">
    <h3>Възстановяване на airbag след ПТП</h3>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/airbag/2/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/airbag/2/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/airbag/1/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/airbag/1/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/airbag/3/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/airbag/3/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <h3>Възстановяване на автомобилни волани</h3>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/volani/1/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/volani/1/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/volani/2/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/volani/2/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/volani/3/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/volani/3/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/volani/4/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/volani/4/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/volani/5/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/volani/5/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/volani/6/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/volani/6/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/volani/7/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/volani/7/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/volani/8/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/volani/8/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/volani/9/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/volani/9/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/volani/10/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/volani/10/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/volani/11/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/volani/11/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/volani/12/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/volani/12/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <h3>Възстановяване на интериорни автомобилни детайли</h3>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/details/1/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/details/1/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/details/2/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/details/2/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/details/3/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/details/3/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/details/4/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/details/4/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/details/5/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/details/5/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/details/6/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/details/6/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/details/8/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/details/8/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/details/9/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/details/9/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/details/11/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/details/11/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/details/12/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/details/12/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <h3>Възстановяване на кожен салон</h3>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/1/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/1/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/2/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/2/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/3/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/3/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/5/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/5/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/6/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/6/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/7/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/7/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/8/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/8/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/9/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/9/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/10/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/10/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/11/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/11/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/12/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/12/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/13/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/13/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/15/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/15/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/16/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/16/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/17/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/17/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/18/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/18/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/19/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/19/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/20/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/20/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/22/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/22/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/23/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/23/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/24/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/24/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/25/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/25/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/26/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/26/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/27/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/27/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/28/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/28/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/29/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/29/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/30/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/30/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/31/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/31/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/interior/32/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/interior/32/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <h3>Възстановяване на мото-екипи и мебели</h3>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/items/1/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/items/1/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/items/2/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/items/2/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/items/3/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/items/3/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <h3>Смяна на дирекция на волан</h3>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/direction-change/1/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/direction-change/1/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <h3>Почистване на автомобилен интериор</h3>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/cleaning/1/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/cleaning/1/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/cleaning/2/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/cleaning/2/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/cleaning/3/before.jpg" alt="image before" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/cleaning/3/after.jpg" alt="image after" class="after">
            <p>След</p>
        </section>
    </section>
</section>