<section class="gallery">
    <h3>Преди & След</h3>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/1/before.jpg" alt="img" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/1/after.jpg" alt="img" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/2/before.jpg" alt="img" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/2/after.jpg" alt="img" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/3/before.jpg" alt="img" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/3/after.jpg" alt="img" class="after">
            <p>След</p>
        </section>
    </section>
    <section class="images-container">
        <section class="section-image-before">
            <img src="{{ site.baseurl }}/images/gallery/4/before.jpg" alt="img" class="before">
            <p>Преди</p>
        </section>
        <section class="section-image-after">
            <img src="{{ site.baseurl }}/images/gallery/4/after.jpg" alt="img" class="after">
            <p>След</p>
        </section>
    </section>
</section>