<section class="upper-line">
    <ul class="credentials">
        <li>
            <span><i class="fas fa-envelope"></i></span>
            <span>slavi@email.bg</span>
        </li>
        <li>
            <span><i class="fas fa-phone-square"></i></span>
            <span>+359 884 512 171</span>
        </li>
    </ul>
    <ul class="select-language">
        <li><a href="{{ site.baseurl }}/">BG</a></li>
        <li><a href="{{ site.baseurl }}/en/">EN</a></li>
    </ul>
</section>
<section class="top">
    <section class="logo">
        <a href="{{ site.baseurl }}/">
            <h1><span>Car</span>Leather Repair</h1>
        </a>
    </section>
    <nav class="nav">
        <span class="hamburger">
            <a href="#"><i class="fas fa-bars" onclick="openMobileMenu()"></i></a>
        </span>
        <ul class="menu-links">
            {% include navigation.html %}
        </ul>
    </nav>
    <div class="close">
        <a href="#" class="close-btn" onclick="closeMobileMenu()"><i class="fas fa-times"></i></a>
        <ul class="menu-links-close">
            {% include navigation.html %}
        </ul>
    </div>
</section>
<!-- <section class="main-img-container">
    <img src="{{ site.baseurl }}/images/img/main-pic.jpg" alt="car image">
</section> -->