<section class="upper-line">
    <ul class="credentials">
        <li>
            <span><i class="fas fa-envelope"></i></span>
            <a href="mailto:slavi@email.bg" class="email">interiorauto@abv.bg</a>
        </li>
        <li>
            <span><i class="fas fa-phone-square"></i></span>
            <a href="tel:00359884512171" class="phone">+359 884 512 171</a>
        </li>
    </ul>
    <ul class="select-language">
        <li><a href="{{ site.baseurl }}/">BG</a></li>
        <li><a href="{{ site.baseurl }}/en/">EN</a></li>
    </ul>
</section>
<section class="top">
    <section class="logo">
        <a href="{{ site.baseurl }}/">
            <h1><strong>Interior</strong>Auto</h1>
        </a>
    </section>
</section>
{% include navigation.html %}