<section class="main-img-container">
    <section class="wellcome-text">
        <h2>Ние работим за вашето удобство!</h2>
        <p>Професионално възстановяване и детайлно почистване на автомобилни интериори</p>
        <a href="/services/" class="button">Повече</a>
    </section>
</section>
<!-- <section class="home-page-content">
    <p>Професионално почистване и възстановяване на кожени салони , волани , подлакътници и пластмосови панели в автомобила.</p>
</section> -->
<section class="adverts">
    <section class="advert">
        <section class="front">
            <i class="fas fa-cogs"></i>
            <h6>Възстановяване и боядисване на кожен салон</h6>
        </section>
        <section class="back">
            <h6>Детайлно почистване на автомобилни интериори</h6>
            <p>Ние ще възстановим повредената, избеляла или скъсана кожа!</p>
        </section>
    </section>
    <section class="advert">
        <section class="front">
            <i class="fas fa-car"></i>
            <h6>Детайлно почистване на автомобилни интериори</h6>
        </section>
        <section class="back">
            <h6>Професионално почистване на кожен салон</h6>
            <p>Основно почистване на седалки и кожени салони до неузнаваемост!</p>
        </section>
    </section>
    <section class="advert">
        <section class="front">
            <i class="fas fa-wrench"></i>
            <h6>Реставрация на гръмнал еърбаг</h6>
        </section>
        <section class="back">
            <h6>Реставрация на гръмнал еърбаг</h6>
            <p>Тука трябва да се измисли едно изречение за еърбага!</p>
        </section>
    </section>
    <section class="advert">
        <section class="front">
            <i class="fas fa-cog"></i>
            <h6>Смяна на дирекция на волан</h6>
        </section>
        <section class="back">
            <h6>Смяна на дирекция на волан</h6>
            <p>Обръщане дирекция на волан на леки автомобили с възможност за съвместно доставяне на необходимите части!</p>
        </section>
    </section>
</section>
<section class="picture-text">
    <section class="img-container-picture-text">
        <img src="{{ site.baseurl }}/images/img/home-pic-1.jpg" alt="image1">
    </section>
    <section class="text-picture-text" id="home-first">
        <p>Погрижете се за вашият комфорт докато шофирате с Car Leather reapir. Ние сме професионалисти и се занимаваме с реставрация на автомобилен интериор, използвайки само най-добрите технологии и най-добрите материали. Предлагаме широка гама от услуги
            и гарантирме най-добри резултати в работата си.</p>
    </section>
</section>
<section class="picture-text">
    <section class="text-picture-text" id="home-second">
        <p>Доверете се на висококачестеното обслужване, коректност и бързина! Винаги даваме гаранция за нашите услуги! Нашите специалисти са готови да помогнат и да отговорят на вашите въпроси! Ако ви трябва помощ или съвет свържете с нас на посочените контакти.
        </p>
    </section>
    <section class="img-container-picture-text">
        <img src="{{ site.baseurl }}/images/img/home-pic-2.jpg" alt="image1">
    </section>
</section>
<section class="apointment">
    <p>ЗАПАЗЕТЕ СИ ЧАС ОЩЕ ДНЕС!</p>
    <div>
        <span>Позвънете:</span>
        <a href="callto:00884512171">+359 884 512 171</a>
    </div>
    <h6><span>Car</span>Leather Repair</h6>
    <a href="{{ site.baseurl }}/contacts/" class="button">Към контакти</a>
</section>
<section class="credentails-bar">
    <section class="credentials-location"></section>
    <section class="credentials-phone"></section>
    <section class="credentials-working-time"></section>
</section>
<section class="testimonials">
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</section>
<section class="our-team">
    <ul>
        <li></li>
        <li></li>
    </ul>
</section>