<section class="main-img-container">
    <section class="wellcome-text">
        <h2>Ние работим за вашето удобство!</h2>
        <p>Професионално възстановяване и детайлно почистване на автомобилни интериори</p>
        <a href="/services/" class="button">Повече</a>
    </section>
</section>
<!-- <section class="home-page-content">
    <p>Професионално почистване и възстановяване на кожени салони , волани , подлакътници и пластмосови панели в автомобила.</p>
</section> -->
<section class="adverts">
    <section class="advert">
        <section class="front">
            <i class="fas fa-cogs"></i>
            <h6>Възстановяване и боядисване на кожен салон</h6>
        </section>
        <section class="back">
            <h6>Възстановяване и боядисване на кожен салон</h6>
            <p>Ние ще възстановим повредената, избеляла или скъсана кожа!</p>
        </section>
    </section>
    <section class="advert">
        <section class="front">
            <i class="fas fa-car"></i>
            <h6>Професионално почистване на кожен салон</h6>
        </section>
        <section class="back">
            <h6>Професионално почистване на кожен салон</h6>
            <p>Основно почистване на седалки и кожени салони до неузнаваемост!</p>
        </section>
    </section>
    <section class="advert">
        <section class="front">
            <i class="fas fa-wrench"></i>
            <h6>Реставрация на гръмнал еърбаг</h6>
        </section>
        <section class="back">
            <h6>Реставрация на гръмнал еърбаг</h6>
            <p>Тука трябва да се измисли едно изречение за еърбага!</p>
        </section>
    </section>
    <section class="advert">
        <section class="front">
            <i class="fas fa-cog"></i>
            <h6>Смяна на дирекция на волан</h6>
        </section>
        <section class="back">
            <h6>Смяна на дирекция на волан</h6>
            <p>Обръщане дирекция на волан на леки автомобили с възможност за съвместно доставяне на необходимите части!</p>
        </section>
    </section>
</section>