<section class="latest-projects">
    <h2>Смяна на дирекция на волан на BMW E60</h2>
    <section class="latest-projects-gallery">
        <button class="project-img" onclick="showImageFromGallery_0()">
            <img src="{{ site.url }}/images/latest-projects/0.jpg" alt="picture BMW E60">
        </button>
        <button class="project-img" onclick="showImageFromGallery_1()">
            <img src="{{ site.url }}/images/latest-projects/1.jpg" alt="picture BMW E60">
        </button>
        <button class="project-img" onclick="showImageFromGallery_2()">
            <img src="{{ site.url }}/images/latest-projects/2.jpg" alt="picture BMW E60">
        </button>
        <button class="project-img" onclick="showImageFromGallery_3()">
            <img src="{{ site.url }}/images/latest-projects/3.jpg" alt="picture BMW E60">
        </button>
        <button class="project-img" onclick="showImageFromGallery_4()">
            <img src="{{ site.url }}/images/latest-projects/4.jpg" alt="picture BMW E60">
        </button>
        <button class="project-img" onclick="showImageFromGallery_5()">
            <img src="{{ site.url }}/images/latest-projects/5.jpg" alt="picture BMW E60">
        </button>
        <button class="project-img" onclick="showImageFromGallery_6()">
            <img src="{{ site.url }}/images/latest-projects/6.jpg" alt="picture BMW E60">
        </button>
        <button class="project-img" onclick="showImageFromGallery_7()">
            <img src="{{ site.url }}/images/latest-projects/7.jpg" alt="picture BMW E60">
        </button>
        <button class="project-img" onclick="showImageFromGallery_8()">
            <img src="{{ site.url }}/images/latest-projects/8.jpg" alt="picture BMW E60">
        </button>
        <button class="project-img" onclick="showImageFromGallery_9()">
            <img src="{{ site.url }}/images/latest-projects/9.jpg" alt="picture BMW E60">
        </button>
        <button class="project-img" onclick="showImageFromGallery_10()">
            <img src="{{ site.url }}/images/latest-projects/10.jpg" alt="picture BMW E60">
        </button>
        <button class="project-img" onclick="showImageFromGallery_11()">
            <img src="{{ site.url }}/images/latest-projects/11.jpg" alt="picture BMW E60">
        </button>
        <button class="project-img" onclick="showImageFromGallery_12()">
            <img src="{{ site.url }}/images/latest-projects/12.jpg" alt="picture BMW E60">
        </button>
        <button class="project-img" onclick="showImageFromGallery_14()">
            <img src="{{ site.url }}/images/latest-projects/14.jpg" alt="picture BMW E60">
        </button>
        <button class="project-img" onclick="showImageFromGallery_15()">
            <img src="{{ site.url }}/images/latest-projects/15.jpg" alt="picture BMW E60">
        </button>
        <button class="project-img" onclick="showImageFromGallery_16()">
            <img src="{{ site.url }}/images/latest-projects/16.jpg" alt="picture BMW E60">
        </button>
        <button class="project-img" onclick="showImageFromGallery_17()">
            <img src="{{ site.url }}/images/latest-projects/17.jpg" alt="picture BMW E60">
        </button>
        <button class="project-img" onclick="showImageFromGallery_18()">
            <img src="{{ site.url }}/images/latest-projects/18.jpg" alt="picture BMW E60">
        </button>
        <button class="project-img" onclick="showImageFromGallery_19()">
            <img src="{{ site.url }}/images/latest-projects/19.jpg" alt="picture BMW E60">
        </button>
        <button class="project-img" onclick="showImageFromGallery_20()">
            <img src="{{ site.url }}/images/latest-projects/20.jpg" alt="picture BMW E60">
        </button>
        <button class="project-img" onclick="showImageFromGallery_21()">
            <img src="{{ site.url }}/images/latest-projects/21.jpg" alt="picture BMW E60">
        </button>
        <button class="project-img" onclick="showImageFromGallery_22()">
            <img src="{{ site.url }}/images/latest-projects/22.jpg" alt="picture BMW E60">
        </button>
        <button class="project-img" onclick="showImageFromGallery_23()">
            <img src="{{ site.url }}/images/latest-projects/23.jpg" alt="picture BMW E60">
        </button>
        <button class="project-img" onclick="showImageFromGallery_24()">
            <img src="{{ site.url }}/images/latest-projects/24.jpg" alt="picture BMW E60">
        </button>
    </section>
    <section class="single-view" style="display: none">
        <button class="close" onclick="closeGallery()">x</button>
        <section class="img-shift-container">
            <button id="left" onclick="showPreviousImg()"><i class="fas fa-chevron-left"></i></button>
            <div class="img-container">
                <img id="image-to-show" src="" alt="image car">
            </div>
            <button id="right" onclick="showNextImg()"><i class="fas fa-chevron-right"></i></button>
        </section>
    </section>
</section>