<section class="latest-projects">
    <h2>Converting steering wheel from left to right of BMW E60</h2>
    <section class="latest-projects-gallery">
        <button class="project-img" onclick="showImageFromGallery_0()">
                <img src="{{ site.url }}/images/latest-projects/one.jpg" alt="picture BMW E60">
            </button>
        <button class="project-img" onclick="showImageFromGallery_1()">
                <img src="{{ site.url }}/images/latest-projects/two.jpg" alt="picture BMW E60">
            </button>
        <button class="project-img" onclick="showImageFromGallery_2()">
                <img src="{{ site.url }}/images/latest-projects/three.jpg" alt="picture BMW E60">
            </button>
        <button class="project-img" onclick="showImageFromGallery_3()">
                <img src="{{ site.url }}/images/latest-projects/four.jpg" alt="picture BMW E60">
            </button>
        <button class="project-img" onclick="showImageFromGallery_4()">
                <img src="{{ site.url }}/images/latest-projects/five.jpg" alt="picture BMW E60">
            </button>
        <button class="project-img" onclick="showImageFromGallery_5()">
                <img src="{{ site.url }}/images/latest-projects/six.jpg" alt="picture BMW E60">
            </button>
        <button class="project-img" onclick="showImageFromGallery_6()">
                <img src="{{ site.url }}/images/latest-projects/seven.jpg" alt="picture BMW E60">
            </button>
        <button class="project-img" onclick="showImageFromGallery_7()">
                <img src="{{ site.url }}/images/latest-projects/eight.jpg" alt="picture BMW E60">
            </button>
        <button class="project-img" onclick="showImageFromGallery_8()">
                <img src="{{ site.url }}/images/latest-projects/nine.jpg" alt="picture BMW E60">
            </button>
        <button class="project-img" onclick="showImageFromGallery_9()">
                <img src="{{ site.url }}/images/latest-projects/ten.jpg" alt="picture BMW E60">
            </button>
        <button class="project-img" onclick="showImageFromGallery_10()">
                <img src="{{ site.url }}/images/latest-projects/eleven.jpg" alt="picture BMW E60">
            </button>
        <button class="project-img" onclick="showImageFromGallery_11()">
                <img src="{{ site.url }}/images/latest-projects/twelve.jpg" alt="picture BMW E60">
            </button>
        <button class="project-img" onclick="showImageFromGallery_12()">
                <img src="{{ site.url }}/images/latest-projects/thirteen.jpg" alt="picture BMW E60">
            </button>
        <button class="project-img" onclick="showImageFromGallery_13()">
                    <img src="{{ site.url }}/images/latest-projects/fourteen.jpg" alt="picture BMW E60">
                </button>
        <button class="project-img" onclick="showImageFromGallery_14()">
                <img src="{{ site.url }}/images/latest-projects/fifteen.jpg" alt="picture BMW E60">
            </button>
        <button class="project-img" onclick="showImageFromGallery_15()">
                <img src="{{ site.url }}/images/latest-projects/sixteen.jpg" alt="picture BMW E60">
            </button>
        <button class="project-img" onclick="showImageFromGallery_16()">
                <img src="{{ site.url }}/images/latest-projects/seventeen.jpg" alt="picture BMW E60">
            </button>
        <button class="project-img" onclick="showImageFromGallery_17()">
                <img src="{{ site.url }}/images/latest-projects/eighteen.jpg" alt="picture BMW E60">
            </button>
        <button class="project-img" onclick="showImageFromGallery_18()">
                <img src="{{ site.url }}/images/latest-projects/nineteen.jpg" alt="picture BMW E60">
            </button>
        <button class="project-img" onclick="showImageFromGallery_19()">
                <img src="{{ site.url }}/images/latest-projects/twenty.jpg" alt="picture BMW E60">
            </button>
        <button class="project-img" onclick="showImageFromGallery_20()">
                <img src="{{ site.url }}/images/latest-projects/twenty-one.jpg" alt="picture BMW E60">
            </button>
        <button class="project-img" onclick="showImageFromGallery_21()">
                <img src="{{ site.url }}/images/latest-projects/twenty-two.jpg" alt="picture BMW E60">
            </button>
        <button class="project-img" onclick="showImageFromGallery_22()">
                <img src="{{ site.url }}/images/latest-projects/twenty-three.jpg" alt="picture BMW E60">
            </button>
        <button class="project-img" onclick="showImageFromGallery_23()">
                <img src="{{ site.url }}/images/latest-projects/twenty-four.jpg" alt="picture BMW E60">
            </button>
        <button class="project-img" onclick="showImageFromGallery_24()">
                <img src="{{ site.url }}/images/latest-projects/twenty-five.jpg" alt="picture BMW E60">
            </button>
    </section>
    <section class="single-view" style="display: none">
        <button class="close" onclick="closeGallery()">x</button>
        <section class="img-shift-container">
            <button id="left" onclick="showPreviousImg()"><i class="fas fa-chevron-left"></i></button>
            <div class="img-container">
                <img id="image-to-show" src="" alt="image car">
            </div>
            <button id="right" onclick="showNextImg()"><i class="fas fa-chevron-right"></i></button>
        </section>
    </section>
</section>