<section class="single-service">
    <section class="single-service-img-container">
        <img src="{{ site.baseurl }}/images/services/1.jpg" alt="image cleaning service">
    </section>
    <section class="single-service-text">
        <h4>Почистването на автомобилния интериор, което предлагаме включва:</h4>
        <ul>
            <li><i class="fas fa-clipboard-check"></i>Почистване на таван</li>
            <li><i class="fas fa-clipboard-check"></i>Почистване на покритие на таван</li>
            <li><i class="fas fa-clipboard-check"></i>Почистване на странични колонки</li>
            <li><i class="fas fa-clipboard-check"></i>Почистване на панели на врати</li>
            <li><i class="fas fa-clipboard-check"></i>Почистване на вътрешни и външни уплътнения на врати</li>
            <li><i class="fas fa-clipboard-check"></i>Почистване на багажно отделение</li>
            <li><i class="fas fa-clipboard-check"></i>Почистване на климатична система</li>
            <li><i class="fas fa-clipboard-check"></i>Почистване на предпазни колани</li>
            <li><i class="fas fa-clipboard-check"></i>Почистване на всички останали елементи в купето на автомобила</li>
        </ul>
        <a href="{{ site.baseurl }}/services/" class="button">Назад към услуги</a>
    </section>
</section>