<section class="single-service">
    <section class="single-service-img-container">
        <img src="{{ site.url }}/images/services/5.jpg" alt="image cleaning service">
    </section>
    <section class="single-service-text">
        <h4>Възстановяване на гръмнал airgbag след ПТП</h4>
        <ul>
            <li><i class="fas fa-clipboard-check"></i>Услугата включва възстановяване на лицевата част на airgbag-а</li>
            <li><i class="fas fa-clipboard-check"></i>Услугата не включва замяна на самата въздушна възглавница</li>
        </ul>
        <h6>Ние гарантираме за качеството на нашата работа!</h6>
        <a href="{{ site.url }}/services/" class="button">Назад към услуги</a>
    </section>
</section>