<section class="single-service">
    <section class="single-service-img-container">
        <img src="{{ site.url }}/images/services/6.jpg" alt="image cleaning service">
    </section>
    <section class="single-service-text">
        <h4>Restoring of leather items</h4>
        <ul>
            <li><i class="fas fa-clipboard-check"></i>We restore leather motorcycle equipment</li>
            <li><i class="fas fa-clipboard-check"></i>Restoring and coloring of leather furnitures</li>
        </ul>
        <h6>We guarantee our services and the quality of our work!</h6>
        <a href="{{ site.url }}/services-en/" class="button">Back to services</a>
    </section>
</section>