<section class="services-container">
    <section class="service">
        <section class="service-img">
            <img src="{{ site.baseurl }}/images/services/1.jpg" alt="car">
        </section>
        <h3>Detailed cleaning of car interior</h3>
        <a href="{{ site.baseurl }}/service-cleaning-en/" class="button">More</a>
    </section>
    <section class="service">
        <section class="service-img">
            <img src="{{ site.baseurl }}/images/services/2.jpg" alt="interior auto car">
        </section>
        <h3>Restoring of weared out car's leather</h3>
        <a href="{{ site.baseurl }}/service-leather-en/" class="button">More</a>
    </section>
    <section class="service">
        <section class="service-img">
            <img src="{{ site.baseurl }}/images/services/3.jpg" alt="interior auto car">
        </section>
        <h3>Restoring of steering wheels</h3>
        <a href="{{ site.baseurl }}/service-wheels-en/" class="button">More</a>
    </section>
    <section class="service">
        <section class="service-img">
            <img src="{{ site.baseurl }}/images/services/4.jpg" alt="interior auto car">
        </section>
        <h3>Restoring of car interior details of plastic, rubber and aluminium</h3>
        <a href="{{ site.baseurl }}/service-details-en/" class="button">More</a>
    </section>
    <section class="service">
        <section class="service-img">
            <img src="{{ site.baseurl }}/images/services/5.jpg" alt="interior auto car">
        </section>
        <h3>Restoring of an airbag after car accident</h3>
        <a href="{{ site.baseurl }}/service-airbag-en/" class="button">More</a>
    </section>
    <section class="service">
        <section class="service-img">
            <img src="{{ site.baseurl }}/images/services/6.jpg" alt="interior auto car">
        </section>
        <h3>Repainting and restoring of leather clothes</h3>
        <a href="{{ site.baseurl }}/service-items-en/" class="button">More</a>
    </section>
</section>