<section class="single-service">
    <section class="single-service-img-container">
        <img src="{{ site.baseurl }}/images/services/1.jpg" alt="image cleaning service">
    </section>
    <section class="single-service-text">
        <h4>The car interior cleaning that we offer includes:</h4>
        <ul>
            <li><i class="fas fa-clipboard-check"></i>Ceiling cleaning</li>
            <li><i class="fas fa-clipboard-check"></i>Ceiling upholstery cleaning</li>
            <li><i class="fas fa-clipboard-check"></i>Door speakers cleaning</li>
            <li><i class="fas fa-clipboard-check"></i>Door panel cleaning</li>
            <li><i class="fas fa-clipboard-check"></i>Inside and outside seals cleaning</li>
            <li><i class="fas fa-clipboard-check"></i>Rack cleaning</li>
            <li><i class="fas fa-clipboard-check"></i>Cleaning of safety belts</li>
            <li><i class="fas fa-clipboard-check"></i>Cleaning of car air conditioning</li>
            <li><i class="fas fa-clipboard-check"></i>Cleaning of all the rest of elements in the car</li>
        </ul>
        <h6>We guarantee our services and the quality of our work!</h6>
        <a href="{{ site.baseurl }}/services/" class="button">Back to services</a>
    </section>
</section>