<section class="single-service">
    <section class="single-service-img-container">
        <img src="{{ site.baseurl }}/images/services/6.jpg" alt="image cleaning service">
    </section>
    <section class="single-service-text">
        <h4>Реставрация на кожа</h4>
        <ul>
            <li><i class="fas fa-clipboard-check"></i>Реставриране на кожени мотo-екипи</li>
            <li><i class="fas fa-clipboard-check"></i>Реставриране и боядисване на кожени мебели</li>
        </ul>
        <h6>Ние гарантираме за качеството на нашата работа!</h6>
        <a href="{{ site.baseurl }}/services/" class="button">Назад към услуги</a>
    </section>
</section>
<section class="credentails-bar-home">
    <section class="sub-credentails-bar-home">
        <i class="fas fa-map-marker-alt"></i>
        <section class="credentails-location-text">
            <h6>Адрес:</h6>
            <p>гр.Русе, ул."Потсдам"8</p>
        </section>
    </section>
    <section class="sub-credentails-bar-home">
        <i class="fas fa-phone"></i>
        <section class="credentails-location-text">
            <h6>Телефон:</h6>
            <a href="tel:00884512171">+359 884 512 171</a>

        </section>
    </section>
    <section class="sub-credentails-bar-home">
        <i class="far fa-clock"></i>
        <section class="credentails-location-text">
            <h6>Работно време:</h6>
            <p>Понеделник - Петък: 9:00ч. - 17:00ч.</p>
        </section>
    </section>
</section>