<section class="services-container">
    <section class="service">
        <!-- <img src="/images/services/retro.jpg" alt="retro car"> -->
        <h3>Детайлно почистване на автомобилен интериор</h3>
        <p class="service-text">Допълнителен текст за въпросната услуга</p>
    </section>
    <section class="service">
        <!-- <img src="{{ site.baseurl }}/images/services/clean-ligths.jpg" alt="car lights"> -->
        <h3>Възстановяване на износени кожени салони</h3>
        <p class="service-text">Допълнителен текст за въпросната услуга</p>
    </section>
    <section class="service">
        <!-- <img src="{{ site.baseurl }}/images/services/clean-ligths.jpg" alt="car lights"> -->
        <h3>Възстановяване на волани</h3>
        <p class="service-text">Допълнителен текст за въпросната услуга</p>
    </section>
    <section class="service">
        <!-- <img src="{{ site.baseurl }}/images/services/4.jpg" alt="car lights"> -->
        <h3>Възстановяване на автомобилни интериорни детайли от пластмаса, гума и алуминий</h3>
        <p class="service-text">Допълнителен текст за въпросната услуга</p>
    </section>
    <section class="service">
        <!-- <img src="{{ site.baseurl }}/images/services/clean-ligths.jpg" alt="car lights"> -->
        <h3>Възстановяване на airbag след ПТП</h3>
        <p class="service-text">Допълнителен текст за въпросната услуга</p>
    </section>
</section>