<section class="single-service">
    <section class="single-service-img-container">
        <img src="{{ site.baseurl }}/images/services/3.jpg" alt="image cleaning service">
    </section>
    <section class="single-service-text">
        <h4>The steering wheel restoring that we offer includes:</h4>
        <ul>
            <li><i class="fas fa-clipboard-check"></i>Cleaning the steering wheel with a proper leather detergent</li>
            <li><i class="fas fa-clipboard-check"></i>If needed or on demand the steering wheel could be repainted with special paint</li>
            <li><i class="fas fa-clipboard-check"></i>Varnishing the steering wheel</li>
            <li><i class="fas fa-clipboard-check"></i>We keep the authentic color, but on demand of the client it could be changed!</li>
        </ul>
        <h6>We guarantee our services and the quality of our work!</h6>
        <a href="{{ site.baseurl }}/services-en/" class="button">Back to services</a>
    </section>
</section>