<section class="services-container">
    <section class="service">
        <img src="/images/services/retro.jpg" alt="retro car">
        <h3>Поправка на гръмнал Airbag</h3>
        <p class="service-text">Цялостно почистване и фолиране на фарове</p>
    </section>
</section>
<section class="services-container">
    <section class="service">
        <img src="{{ site.baseurl }}/images/services/clean-ligths.jpg" alt="car lights">
        <h3>Почистване на фарове</h3>
        <p class="service-text">Цялостно почистване и фолиране на фарове</p>
    </section>
</section>
<section class="services-container">
    <section class="service">
        <img src="/images/services/retro.jpg" alt="retro car">
        <h3>Възстановяване интериора на Вашата любима ретро кола</h3>
        <p class="service-text">Възстановяване на дефектите по интериора на вашият ретро автомобил</p>
    </section>
</section>
<section class="services-container">
    <section class="service">
        <img src="/images/services/retro.jpg" alt="retro car">
        <h3>Поправка на гръмнал Airbag</h3>
        <p class="service-text">Цялостно почистване и фолиране на фарове</p>
    </section>
</section>
<section class="services-container">
    <section class="service">
        <img src="{{ site.baseurl }}/images/services/clean-ligths.jpg" alt="car lights">
        <h3>Почистване на фарове</h3>
        <p class="service-text">Цялостно почистване и фолиране на фарове</p>
    </section>
</section>
<section class="services-container">
    <section class="service">
        <img src="/images/services/retro.jpg" alt="retro car">
        <h3>Възстановяване интериора на Вашата любима ретро кола</h3>
        <p class="service-text">Възстановяване на дефектите по интериора на вашият ретро автомобил</p>
    </section>
</section>
<section class="services-container">
    <section class="service">
        <img src="/images/services/retro.jpg" alt="retro car">
        <h3>Поправка на гръмнал Airbag</h3>
        <p class="service-text">Цялостно почистване и фолиране на фарове</p>
    </section>
</section>
<section class="services-container">
    <section class="service">
        <img src="{{ site.baseurl }}/images/services/clean-ligths.jpg" alt="car lights">
        <h3>Почистване на фарове</h3>
        <p class="service-text">Цялостно почистване и фолиране на фарове</p>
    </section>
</section>
<section class="services-container">
    <section class="service">
        <img src="/images/services/retro.jpg" alt="retro car">
        <h3>Възстановяване интериора на Вашата любима ретро кола</h3>
        <p class="service-text">Възстановяване на дефектите по интериора на вашият ретро автомобил</p>
    </section>
</section>