<section class="single-service">
    <section class="single-service-img-container">
        <img src="{{ site.baseurl }}/images/services/4.jpg" alt="image cleaning service">
    </section>
    <section class="single-service-text">
        <h4>Restoring of the interior details of the car</h4>
        <ul>
            <li><i class="fas fa-clipboard-check"></i>Completely restoration of plastic interior details</li>
            <li><i class="fas fa-clipboard-check"></i>Completely restoration of aluminium interior details</li>
        </ul>
        <h6>We guarantee our services and the quality of our work!</h6>
        <a href="{{ site.baseurl }}/services-en/" class="button">Back to services</a>
    </section>
</section>