<section class="single-service">
    <section class="single-service-img-container">
        <img src="{{ site.baseurl }}/images/services/2.jpg" alt="image cleaning service">
    </section>
    <section class="single-service-text">
        <h4>The leather interior cleaning that we offer includes:</h4>
        <ul>
            <li><i class="fas fa-clipboard-check"></i>Cleaning the leather with a proper leather detergent</li>
            <li><i class="fas fa-clipboard-check"></i>If needed or on demand the leather could be repainted with special paint</li>
            <li><i class="fas fa-clipboard-check"></i>Varnishing the leather</li>
            <li><i class="fas fa-clipboard-check"></i>On demand of the client we keep the original color absolutely the same!</li>
        </ul>
        <h6>We guarantee our services and the quality of our work!</h6>
        <a href="{{ site.baseurl }}/services/" class="button">Back to services</a>
    </section>
</section>