<section class="single-service">
    <section class="single-service-img-container">
        <img src="{{ site.baseurl }}/images/services/6.jpg" alt="image cleaning service">
    </section>
    <section class="single-service-text">
        <h4>Реставрация на кожа</h4>
        <ul>
            <li><i class="fas fa-clipboard-check"></i>Реставриране на кожени мотo-екипи</li>
            <li><i class="fas fa-clipboard-check"></i>Реставриране и боядисване на кожени мебели</li>
        </ul>
        <h6>Ние гарантираме за качеството на нашата работа!</h6>
        <a href="{{ site.baseurl }}/services/" class="button">Назад към услуги</a>
    </section>
</section>