<section class="single-service">
    <section class="single-service-img-container">
        <img src="{{ site.baseurl }}/images/services/6.jpg" alt="image cleaning service">
    </section>
    <section class="single-service-text">
        <h4>Restoring of leather items</h4>
        <ul>
            <li><i class="fas fa-clipboard-check"></i>We restore leather motorcycle equipment</li>
            <li><i class="fas fa-clipboard-check"></i>Restoring and coloring of leather furnitures</li>
        </ul>
        <h6>We guarantee our services and the quality of our work!</h6>
        <a href="{{ site.baseurl }}/services/" class="button">Back to services</a>
    </section>
</section>
<section class="credentails-bar-home">
    <section class="sub-credentails-bar-home">
        <i class="fas fa-map-marker-alt"></i>
        <section class="credentails-location-text">
            <h6>Address:</h6>
            <p>Ruse, str."Potsdam"8</p>
        </section>
    </section>
    <section class="sub-credentails-bar-home">
        <i class="fas fa-phone"></i>
        <section class="credentails-location-text">
            <h6>Phone:</h6>
            <a href="tel:00884512171">+359 884 512 171</a>
        </section>
    </section>
    <section class="sub-credentails-bar-home">
        <i class="far fa-clock"></i>
        <section class="credentails-location-text">
            <h6>Working time:</h6>
            <p>Monday - Friday: 9:00 a.m. - 17:00 p.m.</p>
        </section>
    </section>
</section>