<section class="single-service">
    <section class="single-service-img-container">
        <img src="{{ site.url }}/images/services/5.jpg" alt="image cleaning service">
    </section>
    <section class="single-service-text">
        <h4>Restoring of deployed airbag after car accident</h4>
        <ul>
            <li><i class="fas fa-clipboard-check"></i>The service includes restoring of the front face part of the airbag</li>
            <li><i class="fas fa-clipboard-check"></i>The service doesn't include replacement of the airbag</li>
        </ul>
        <h6>We guarantee our services and the quality of our work!</h6>
        <a href="{{ site.url }}/services-en/" class="button">Back to services</a>
    </section>
</section>