<section class="single-service">
    <section class="single-service-img-container">
        <img src="{{ site.url }}/images/services/4.jpg" alt="image cleaning service">
    </section>
    <section class="single-service-text">
        <h4>Възстановяване на интериорни детайли в автомобила</h4>
        <ul>
            <li><i class="fas fa-clipboard-check"></i>Напълно възстановяване на пластмaсови интериорни детайли в автомобила</li>
            <li><i class="fas fa-clipboard-check"></i>Напълно възстановяване на алуминиеви интериорни детайли в автомобила</li>
        </ul>
        <h6>Ние гарантираме за качеството на нашата работа!</h6>
        <a href="{{ site.url }}/services/" class="button">Назад към услуги</a>
    </section>
</section>