<section class="single-service">
    <section class="single-service-img-container">
        <img src="{{ site.baseurl }}/images/services/2.jpg" alt="image cleaning service">
    </section>
    <section class="single-service-text">
        <h4>Почистването на автомобилния кожен салон, което предлагаме включва следните стъпки:</h4>
        <ul>
            <li><i class="fas fa-clipboard-check"></i>Почистване на кожата с подходящ за целта препарат</li>
            <li><i class="fas fa-clipboard-check"></i>При необходимост или по желание на клиента кожата се боядисва със специална боя</li>
            <li><i class="fas fa-clipboard-check"></i>Нанася се защитен слой лак, който запазва кожата</li>
            <li><i class="fas fa-clipboard-check"></i>Запазваме напълно автентичния цвят на кожения салон, но по желание на клиента той може да бъде променен!</li>
        </ul>
        <h6>Ние гарантираме за качеството на нашата работа!</h6>
        <a href="{{ site.baseurl }}/services/" class="button">Назад към услуги</a>
    </section>
</section>