<section class="services-container">
    <section class="service">
        <section class="service-img">
            <img src="{{ site.baseurl }}/images/services/1.jpg" alt="car">
        </section>
        <h3>Детайлно почистване на автомобилен интериор</h3>
    </section>
    <section class="service">
        <section class="service-img">
            <img src="{{ site.baseurl }}/images/services/2.jpg" alt="interior auto car">
        </section>
        <h3>Възстановяване на износени кожени салони</h3>
    </section>
    <section class="service">
        <section class="service-img">
            <img src="{{ site.baseurl }}/images/services/3.jpg" alt="interior auto car">
        </section>
        <h3>Възстановяване на волани</h3>
    </section>
    <section class="service">
        <section class="service-img">
            <img src="{{ site.baseurl }}/images/services/4.jpg" alt="interior auto car">
        </section>
        <h3>Възстановяване на автомобилни интериорни детайли от пластмаса, гума и алуминий</h3>
    </section>
    <section class="service">
        <section class="service-img">
            <img src="{{ site.baseurl }}/images/services/5.jpg" alt="interior auto car">
        </section>
        <h3>Възстановяване на airbag след ПТП</h3>
    </section>
    <section class="service">
        <section class="service-img">
            <img src="{{ site.baseurl }}/images/services/6.jpg" alt="interior auto car">
        </section>
        <h3>Боядисване и възстановяване на кожени дрехи</h3>
    </section>
</section>