.button {
  line-height: 1.5;
  text-decoration: none;
  color: #F9F9F9;
  background: #E34234;
  padding: 0.7em 2em; }
  .button:hover {
    outline: 4px solid #F9F9F9;
    background: transparent; }

* {
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font: 20px/1.5 'Montserrat', sans-serif; }

body {
  font: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  margin: 0, 0, 0.5em 0;
  padding: 0; }

h1 {
  font-size: 3em;
  font-weight: normal; }

h2 {
  font-size: 2.2em; }

h3 {
  font-size: 1.9em; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1.4em; }

h6 {
  font-size: 1.2em; }

ul > li {
  list-style: none; }

ul > li > a {
  text-decoration: none; }

@media only screen and (max-width: 700px) {
  html {
    font-size: 14px; } }

@media only screen and (max-width: 1040px) {
  html {
    font-size: 16px; } }

@media only screen and (max-width: 1919px) {
  html {
    font-size: 18px; } }

@media only screen and (min-width: 1920px) {
  html {
    font-size: 20px; } }

.upper-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #191B20;
  background: #F9F9F9;
  padding: 0.5em; }
  .upper-line .credentials li {
    margin-left: 1em; }
    .upper-line .credentials li .email {
      color: #191B20; }
      .upper-line .credentials li .email:hover, .upper-line .credentials li .email:focus {
        color: #E34234; }
    .upper-line .credentials li .phone {
      color: #191B20; }
      .upper-line .credentials li .phone:hover, .upper-line .credentials li .phone:focus {
        color: #E34234; }
    .upper-line .credentials li span:first-child {
      margin-right: 0.5em; }
    .upper-line .credentials li:first-child {
      margin-bottom: 0.5em; }
      @media only screen and (max-width: 700px) {
        .upper-line .credentials li:first-child {
          display: none; } }
      @media only screen and (min-width: 700px) {
        .upper-line .credentials li:first-child {
          margin-bottom: 0;
          margin-right: 2em; } }
  @media only screen and (min-width: 700px) {
    .upper-line .credentials {
      display: flex;
      justify-content: center;
      align-items: center; } }
  .upper-line .select-language {
    display: flex; }
    .upper-line .select-language li > a {
      outline: none;
      color: #191B20;
      font-weight: bold; }
      .upper-line .select-language li > a:first-child {
        margin-right: 1em; }
      .upper-line .select-language li > a:hover, .upper-line .select-language li > a:focus {
        color: #E34234; }
    @media only screen and (max-width: 300px) {
      .upper-line .select-language {
        margin-top: 0.5em;
        margin-left: 1em; } }
  @media only screen and (max-width: 300px) {
    .upper-line {
      display: block; } }
  @media only screen and (min-width: 1040px) {
    .upper-line {
      padding: 0.2em 4em; } }

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #E34234;
  padding: 0.5em 1em; }
  .top .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .top .logo .car {
      align-self: center;
      width: 10vw;
      height: auto;
      color: black;
      margin: 0.5em auto; }
      @media only screen and (max-width: 380px) {
        .top .logo .car {
          width: 50vw;
          height: auto; } }
      @media only screen and (max-width: 700px) and (min-width: 380px) {
        .top .logo .car {
          width: 30vw;
          height: auto; } }
      @media only screen and (max-width: 1040px) and (min-width: 700px) {
        .top .logo .car {
          width: 20vw;
          height: auto; } }
    .top .logo a {
      color: #F9F9F9;
      text-decoration: none;
      outline: none; }
      .top .logo a h1 {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.8em;
        margin: 0 auto; }
        .top .logo a h1 span {
          color: #191B20;
          margin-right: 0.3em; }
          @media only screen and (max-width: 380px) {
            .top .logo a h1 span {
              display: block;
              align-self: center; } }

.top-middle-menu {
  background: #191B20;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .top-middle-menu .main-nav-links {
    display: flex;
    justify-content: center;
    align-items: center; }
    .top-middle-menu .main-nav-links li {
      padding: 0 1em; }
      .top-middle-menu .main-nav-links li a {
        color: #F9F9F9;
        padding: 0.2em 0.5em;
        outline: none; }
        .top-middle-menu .main-nav-links li a:hover, .top-middle-menu .main-nav-links li a:focus {
          border-bottom: 6px solid #E34234; }
      .top-middle-menu .main-nav-links li a.active {
        border-bottom: 6px solid #E34234; }
    @media only screen and (max-width: 700px) {
      .top-middle-menu .main-nav-links {
        display: none; } }
  .top-middle-menu .btns-menu {
    position: absolute;
    top: 0.7em;
    left: 1em;
    display: flex;
    justify-content: center;
    align-items: center; }
    .top-middle-menu .btns-menu a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #F9F9F9;
      font-size: 1.2em;
      text-decoration: none;
      outline: none; }
      .top-middle-menu .btns-menu a i {
        font-size: 1.2em;
        margin-right: 0.5em; }
    .top-middle-menu .btns-menu .btn-menu-open {
      cursor: pointer; }
    .top-middle-menu .btns-menu .btn-menu-close {
      cursor: pointer;
      display: none; }
    @media only screen and (max-width: 700px) {
      .top-middle-menu .btns-menu {
        display: block; } }
    @media only screen and (min-width: 700px) {
      .top-middle-menu .btns-menu {
        display: none; } }

.slide-menu {
  display: none; }
  .slide-menu .menu-links-close {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #191B20; }
    .slide-menu .menu-links-close li {
      padding: 0.5em 1.5em;
      border-bottom: 1px dotted #F9F9F9;
      display: flex;
      justify-content: center;
      align-items: center; }
      .slide-menu .menu-links-close li a {
        outline: none;
        color: #F9F9F9; }
        .slide-menu .menu-links-close li a:focus {
          color: #E34234; }
      .slide-menu .menu-links-close li:first-child {
        border-top: 1px dotted #F9F9F9; }
  @media only screen and (min-width: 700px) {
    .slide-menu {
      display: none; } }

html {
  color: #191B20; }

body {
  width: 100%;
  background: #F9F9F9; }

main,
header,
footer {
  width: 100%; }

.site-header {
  width: 100vw; }

.main-img-container {
  overflow: hidden;
  width: 100vw;
  height: 35em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .main-img-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: auto; }
  .main-img-container .wellcome-text {
    color: #F9F9F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em; }
    .main-img-container .wellcome-text h2 {
      text-align: center;
      -webkit-animation: slide 0.4s;
              animation: slide 0.4s;
      -webkit-animation-delay: 1s;
              animation-delay: 1s;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both; }

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0; }
  50% {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
    opacity: 0.5; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@keyframes slide {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0; }
  50% {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
    opacity: 0.5; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }
    .main-img-container .wellcome-text p {
      margin-top: 1em;
      text-align: center;
      width: 80%;
      -webkit-animation: slide 0.4s;
              animation: slide 0.4s;
      -webkit-animation-delay: 1.5s;
              animation-delay: 1.5s;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both; }

@keyframes slide {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0; }
  50% {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
    opacity: 0.5; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }
    .main-img-container .wellcome-text .button {
      margin-top: 2em;
      -webkit-animation: slide 0.4s;
              animation: slide 0.4s;
      -webkit-animation-delay: 2s;
              animation-delay: 2s;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both; }

@keyframes slide {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0; }
  50% {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
    opacity: 0.5; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

body {
  background: #F9F9F9; }
