* {
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font: 20px/1.5 'Montserrat', sans-serif; }

body {
  font: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  margin: 0, 0, 0.5em 0;
  padding: 0; }

h1 {
  font-size: 3em;
  font-weight: normal; }

h2 {
  font-size: 2.2em; }

h3 {
  font-size: 1.9em; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1.4em; }

h6 {
  font-size: 1.2em; }

ul > li {
  list-style: none; }

ul > li > a {
  text-decoration: none; }

@media only screen and (max-width: 700px) {
  html {
    font-size: 14px; } }

@media only screen and (max-width: 1040px) {
  html {
    font-size: 16px; } }

@media only screen and (max-width: 1919px) {
  html {
    font-size: 18px; } }

@media only screen and (min-width: 1920px) {
  html {
    font-size: 20px; } }

.upper-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #F9F9F9;
  background: #E34234;
  padding: 0.5em; }
  .upper-line .credentials li {
    margin-left: 1em; }
    .upper-line .credentials li span:first-child {
      margin-right: 0.5em; }
    .upper-line .credentials li:first-child {
      margin-bottom: 0.5em; }
      @media only screen and (min-width: 700px) {
        .upper-line .credentials li:first-child {
          margin-bottom: 0;
          margin-right: 2em; } }
  @media only screen and (min-width: 700px) {
    .upper-line .credentials {
      display: flex;
      justify-content: center;
      align-items: center; } }
  .upper-line .select-language {
    display: flex; }
    .upper-line .select-language li > a {
      outline: none;
      color: #F9F9F9;
      font-weight: bold; }
      .upper-line .select-language li > a:first-child {
        margin-right: 1em; }
    @media only screen and (max-width: 300px) {
      .upper-line .select-language {
        margin-top: 0.5em;
        margin-left: 1em; } }
  @media only screen and (max-width: 300px) {
    .upper-line {
      display: block; } }
  @media only screen and (min-width: 1040px) {
    .upper-line {
      padding: 0.2em 4em; } }

.top {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden; }
  .top .close,
  .top .menu-links {
    display: none; }
  .top h1 {
    color: #262626;
    font-weight: bold; }
  .top .logo {
    padding: 1em;
    display: flex;
    flex-wrap: wrap; }
    .top .logo a {
      text-decoration: none;
      font-weight: bold;
      color: #262626; }
      .top .logo a h1 {
        font-size: 2em; }
        @media only screen and (max-width: 300px) {
          .top .logo a h1 {
            font-size: 1.5em; } }
        .top .logo a h1 span {
          color: #E34234;
          margin-right: 0.2em; }
    @media only screen and (min-width: 1040px) {
      .top .logo {
        padding-left: 2em; } }
    @media only screen and (min-width: 1919px) {
      .top .logo {
        padding-left: 4em; } }
  .top .nav {
    padding: 1em 1em 1em 0; }
    .top .nav .hamburger,
    .top .nav .close-btn > i {
      font-size: 2em; }
    .top .nav .hamburger a {
      font-weight: bold;
      color: #262626; }
    .top .nav .menu-links li {
      margin-right: 2em; }
      .top .nav .menu-links li a {
        display: block;
        color: #262626;
        font-weight: bold;
        padding: 0.5em 1em;
        outline: none;
        border-radius: 0.5em; }
        .top .nav .menu-links li a:hover, .top .nav .menu-links li a:focus {
          color: #F9F9F9;
          background: #262626; }
    @media only screen and (min-width: 1040px) {
      .top .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 4em; } }
  .top .close {
    padding: 1em;
    align-self: center; }
    .top .close .close-btn > i {
      color: #262626;
      font-size: 1.5em; }
    .top .close .menu-links-close {
      z-index: 1;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      list-style-type: none; }
      .top .close .menu-links-close li {
        border-top: 0.5px dotted #F9F9F9; }
        .top .close .menu-links-close li a {
          display: block;
          color: #F9F9F9;
          background: rgba(0, 0, 0, 0.5);
          padding: 1em;
          text-align: center; }
        .top .close .menu-links-close li:first-child {
          border-top: none; }
        .top .close .menu-links-close li:last-child {
          border-bottom: 0.5px dotted #F9F9F9; }
  @media only screen and (max-width: 240px) {
    .top {
      flex-direction: column; }
      .top .logo a span {
        display: block; }
      .top .hamburger {
        display: flex; }
      .top .menu-links {
        display: none; }
      .top .nav {
        padding-left: 1em;
        padding-top: 0;
        align-self: flex-start;
        margin-left: 0; } }
  @media only screen and (min-width: 240px) and (max-width: 700px) {
    .top {
      padding: 0 1em; }
      .top .hamburger {
        display: flex; }
      .top .menu-links {
        display: none; }
      .top .nav {
        margin-left: auto; } }
  @media only screen and (min-width: 700px) {
    .top {
      padding: 0 2em; }
      .top .hamburger {
        display: flex; }
      .top .menu-links {
        display: none; }
      .top .nav {
        margin-left: auto; } }
  @media only screen and (min-width: 1040px) {
    .top .hamburger {
      display: none; }
    .top .menu-links {
      display: flex; }
    .top .nav {
      margin-left: auto; }
      .top .nav .menu-links li {
        margin-right: 1em; } }
  @media only screen and (min-width: 1919px) {
    .top .hamburger {
      display: none; }
    .top .menu-links {
      display: flex; }
    .top .nav {
      margin-left: 15em; } }

html {
  color: #262626; }

body {
  width: 100%;
  background: #F9F9F9; }

main,
header,
footer {
  width: 100%; }

header {
  width: 100vw;
  height: 100vh; }

body {
  background: #F9F9F9; }
