<!DOCTYPE html>

<head>
    {% include head.html %}
</head>

<body>
    <div class="se-pre-con"></div>
    <header class="site-header">
        {% include header.html %}
    </header>
    <main class="site-content">
        {{ content }}
        <a class="btn-up" id="return-to-top" onclick="topFunction()"><i class="fas fa-chevron-circle-up"></i></a>
    </main>
    <footer class="site-footer">
        {% include footer.html %}
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script>
        $(window).on('load', function() {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");;
        });
    </script>
    <script>
        start();
    </script>
</body>

</html>