<!DOCTYPE html>

<head>
    {% include head.html %}
</head>

<body>
    <header class="site-header">
        {% include header.html %}
    </header>
    <main class="site-content">
        {{ content }}
    </main>
    <footer class="site-footer">
        {% include footer.html %}
    </footer>
    <script>
        function openMobileMenu() {
            $('.close').css('display', 'flex');
            $('.nav').css('display', 'none');
        }

        function closeMobileMenu() {
            $('.close').css('display', 'none');
            $('.nav').css('display', 'flex');
        }
    </script>
</body>

</html>