<!DOCTYPE html>

<head>
    {% include head.html %}
</head>

<body>
    <header class="site-header">
        {% include header.html %}
    </header>
    <main class="site-content">
        {{ content }}
    </main>
    <footer class="site-footer">
        {% include footer.html %}
    </footer>
    <script>
        $(window).on("load", startSite());

        function openMobileMenu() {
            $('.slide-menu .menu-links-close').css('display', 'flex');
            $('btn-menu-open').css('display', 'none');
            $('btn-menu-close').css('display', 'block');
        }
    </script>
</body>

</html>