.button {
    line-height: 1.5;
    text-decoration: none;
    color: $bg-color;
    background: $contrast-red;
    padding: 0.7em 2em;
    &:hover {
        outline: 4px solid $bg-color;
        background: transparent;
    }
}

.btn-up {
    position: fixed;
    bottom: 1em;
    right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 100;
    i {
        color: #990011;
        font-size: 2.5em;
        z-index: 100;
        &:hover,
        &:focus {
            color: black;
        }
    }
}