.credentails-bar-home {
    background: $contrast-red;
    color: $bg-color;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    .sub-credentails-bar-home {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 9fr;
        grid-template-rows: 1fr;
        grid-gap: 1em;
        i {
            font-size: 3em;
            justify-self: end;
            @media only screen and (max-width: $breakpoint-phones) {
                font-size: 2em;
            }
            @media only screen and (min-width: $breakpoint-phones) and (max-width: $breakpoint-tablets) {
                font-size: 2.5em;
            }
        }
        .credentails-location-text h6 {
            margin-bottom: 0.1em;
        }
        .credentails-location-text a {
            text-decoration: none;
            color: $bg-color;
        }
        @media only screen and (max-width: $breakpoint-tablets) {
            margin-bottom: 1em;
            margin-right: 1em;
            align-self: center;
        }
        @media only screen and (min-width:$breakpoint-tablets) {
            grid-template-columns: 1fr 3fr;
            grid-template-rows: 1fr;
        }
    }
    @media only screen and (max-width: $breakpoint-phones) {
        align-items: start;
    }
    @media only screen and (min-width: $breakpoint-phones) and (max-width: $breakpoint-tablets) {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        padding: 2em 4em;
        .sub-credentails-bar-home {
            align-self: center;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 2em;
            &:nth-child(1),
            &:nth-child(2) {
                margin-bottom: 1em;
            }
        }
    }
    @media only screen and (min-width: $breakpoint-tablets) {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.credentails-bar {
    background: $contrast-red;
    color: $bg-color;
    padding: 1.5em;
    display: grid;
    grid-gap: 3em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    .sub-credentails-bar {
        align-self: start;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            margin-right: 0.5em;
            font-size: 2.5em;
            @media only screen and (max-width: $breakpoint-phones) {
                font-size: 2em;
            }
            @media only screen and (min-width: $breakpoint-phones) and (max-width: $breakpoint-tablets) {
                font-size: 2.5em;
            }
        }
        a {
            text-decoration: none;
            color: $bg-color;
        }
        .credentails-location-text h6 {
            margin-bottom: 0.1em;
        }
        .credentails-location-text a {
            text-decoration: none;
            color: $bg-color;
        }
        @media only screen and (max-width: $breakpoint-tablets) {}
    }
    @media only screen and (min-width: $breakpoint-phones) and (max-width: $breakpoint-tablets) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    @media only screen and (min-width: $breakpoint-tablets) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}