.gallery {
    background: black;
    color: $bg-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    @media only screen and(min-width: $breakpoint-phones) {
        padding: 2em;
    }
    @media only screen and(min-width: $breakpoint-tablets) {
        padding: 3em;
    }
    h3 {
        text-align: center;
        font-weight: normal;
        margin-bottom: 4rem;
        margin-top: 1rem;
    }
    .images-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 4em;
        @media only screen and(min-width: $breakpoint-phones) and(max-width: $breakpoint-tablets) {
            flex-direction: row;
            width: 90%;
        }
        @media only screen and(min-width: $breakpoint-tablets) {
            flex-direction: row;
            width: 70%;
        }
        .section-image-before,
        .section-image-after {
            width: 100%;
            position: relative;
            border-radius: 0.5rem;
            border: 6px solid black;
            overflow: hidden;
            transition: all .4s ease-in-out;
            &:before {
                display: block;
                content: '';
                padding-top: 100%;
            }
            @media only screen and(min-width: $breakpoint-phones) {
                width: 50%;
            }
            @media only screen and(min-width: $breakpoint-tablets) {
                width: 50%;
                &:hover {
                    transform: scale(1.2);
                    z-index: 100;
                }
            }
            img {
                width: 100%;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            p {
                text-align: center;
                width: 100%;
                z-index: 10;
                position: absolute;
                color: #bee6ce;
                font-size: 2rem;
                bottom: 0;
                left: 0;
                background: rgba(black, 0.9);
            }
        }
        .section-image-before {
            margin-right: 0;
            margin-bottom: 1em;
            @media only screen and(min-width: $breakpoint-phones) {
                margin-right: 1em;
                margin-bottom: 0;
            }
            @media only screen and(min-width: $breakpoint-tablets) {
                margin-right: 4em;
                margin-bottom: 0;
            }
        }
    }
}

.gallery {
    section:nth-child(7)>section.section-image-before>img,
    section:nth-child(7)>section.section-image-after>img,
    section:nth-child(10)>section.section-image-before>img,
    section:nth-child(10)>section.section-image-after>img,
    section:nth-child(12)>section.section-image-before>img,
    section:nth-child(12)>section.section-image-after>img,
    section:nth-child(13)>section.section-image-before>img,
    section:nth-child(13)>section.section-image-after>img,
    section:nth-child(14)>section.section-image-before>img,
    section:nth-child(15)>section.section-image-before>img,
    section:nth-child(15)>section.section-image-after>img,
    section:nth-child(16)>section.section-image-before>img,
    section:nth-child(16)>section.section-image-after>img,
    section:nth-child(19)>section.section-image-after>img,
    section:nth-child(20)>section.section-image-before>img,
    section:nth-child(20)>section.section-image-after>img,
    section:nth-child(21)>section.section-image-before>img,
    section:nth-child(21)>section.section-image-after>img,
    section:nth-child(30)>section.section-image-before>img,
    section:nth-child(45)>section.section-image-after>img,
    section:nth-child(56)>section.section-image-before>img,
    section:nth-child(58)>section.section-image-before>img,
    section:nth-child(58)>section.section-image-after>img,
    section:nth-child(59)>section.section-image-before>img,
    section:nth-child(59)>section.section-image-after>img,
    section:nth-child(60)>section.section-image-before>img,
    section:nth-child(60)>section.section-image-after>img {
        height: 100%;
        width: auto;
    }
    section:nth-child(19)>section.section-image-after>img,
    section:nth-child(20)>section.section-image-before>img,
    section:nth-child(22)>section.section-image-before>img,
    section:nth-child(22)>section.section-image-after>img,
    section:nth-child(30)>section.section-image-after>img,
    section:nth-child(31)>section.section-image-before>img,
    section:nth-child(42)>section.section-image-after>img,
    section:nth-child(43)>section.section-image-after>img,
    section:nth-child(44)>section.section-image-after>img,
    section:nth-child(7)>section.section-image-after>img {
        width: 100%;
        height: 100%;
    }
    section:nth-child(24)>section.section-image-before>img,
    section:nth-child(24)>section.section-image-before>img,
    section:nth-child(13)>section.section-image-before>img,
    section:nth-child(13)>section.section-image-after>img,
    section:nth-child(14)>section.section-image-after>img,
    section:nth-child(21)>section.section-image-before>img {
        width: 100%;
        height: auto;
    }
    section:nth-child(23)>section.section-image-before>img,
    section:nth-child(23)>section.section-image-after>img,
    section:nth-child(25)>section.section-image-after>img,
    section:nth-child(29)>section.section-image-before>img,
    section:nth-child(29)>section.section-image-after>img,
    section:nth-child(32)>section.section-image-before>img,
    section:nth-child(32)>section.section-image-after>img,
    section:nth-child(33)>section.section-image-before>img,
    section:nth-child(35)>section.section-image-before>img,
    section:nth-child(35)>section.section-image-after>img,
    section:nth-child(37)>section.section-image-before>img,
    section:nth-child(37)>section.section-image-after>img,
    section:nth-child(46)>section.section-image-after>img,
    section:nth-child(57)>section.section-image-before>img,
    section:nth-child(57)>section.section-image-after>img,
    section:nth-child(56)>section.section-image-before>img,
    section:nth-child(58)>section.section-image-after>img,
    section:nth-child(20)>section.section-image-after>img {
        height: auto;
        width: auto;
    }
}