.upper-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $bg-color;
    background: $contrast-red;
    padding: 0.5em;
    .credentials {
        li {
            margin-left: 1em;
            span:first-child {
                margin-right: 0.5em;
            }
            &:first-child {
                margin-bottom: 0.5em;
                @media only screen and (min-width: $breakpoint-phones) {
                    margin-bottom: 0;
                    margin-right: 2em;
                }
            }
        }
        @media only screen and (min-width:$breakpoint-phones) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .select-language {
        display: flex;
        li>a {
            outline: none;
            color: $bg-color;
            font-weight: bold;
            &:first-child {
                margin-right: 1em;
            }
        }
        @media only screen and (max-width:300px) {
            margin-top: 0.5em;
            margin-left: 1em;
        }
    }
    @media only screen and (max-width:300px) {
        display: block;
    }
    @media only screen and (min-width:$breakpoint-tablets) {
        padding: 0.2em 4em;
    }
}

.top {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    .close,
    .menu-links {
        display: none;
    }
    h1 {
        color: $dark;
        font-weight: bold;
    }
    .logo {
        padding: 1em;
        display: flex;
        flex-wrap: wrap;
        a {
            text-decoration: none;
            font-weight: bold;
            color: $dark;
            h1 {
                @media only screen and (max-width: 300px) {
                    font-size: 1.5em;
                }
                font-size: 2em;
                span {
                    color: $contrast-red;
                    margin-right: 0.2em;
                }
            }
        }
        @media only screen and (min-width: $breakpoint-tablets) {
            padding-left: 2em;
        }
        @media only screen and (min-width: $breakpoint-laptops) {
            padding-left: 4em;
        }
    }
    .nav {
        padding: 1em 1em 1em 0;
        .hamburger,
        .close-btn>i {
            font-size: 2em;
        }
        .hamburger a {
            font-weight: bold;
            color: $dark;
        }
        .menu-links li {
            margin-right: 2em;
            a {
                display: block;
                color: $dark;
                font-weight: bold;
                padding: 0.5em 1em;
                outline: none;
                border-radius: 0.5em;
                &:hover,
                &:focus {
                    color: $bg-color;
                    background: $dark;
                }
            }
        }
        @media only screen and (min-width: $breakpoint-tablets) {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 4em;
        }
    }
    .close {
        padding: 1em;
        align-self: center;
        .close-btn>i {
            color: $dark;
            font-size: 1.5em;
        }
        .menu-links-close {
            z-index: 1;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            list-style-type: none;
            li {
                border-top: 0.5px dotted $bg-color;
                a {
                    display: block;
                    color: $bg-color;
                    background: rgba(black, 0.5);
                    padding: 1em;
                    text-align: center;
                }
                &:first-child {
                    border-top: none;
                }
                &:last-child {
                    border-bottom: 0.5px dotted $bg-color;
                }
            }
        }
    }
    @media only screen and (max-width: 240px) {
        flex-direction: column;
        .logo a span {
            display: block;
        }
        .hamburger {
            display: flex;
        }
        .menu-links {
            display: none;
        }
        .nav {
            padding-left: 1em;
            padding-top: 0;
            align-self: flex-start;
            margin-left: 0;
        }
    }
    @media only screen and (min-width: 240px) and (max-width: $breakpoint-phones) {
        padding: 0 1em;
        .hamburger {
            display: flex;
        }
        .menu-links {
            display: none;
        }
        .nav {
            margin-left: auto;
        }
    }
    @media only screen and (min-width: $breakpoint-phones) {
        padding: 0 2em;
        .hamburger {
            display: flex;
        }
        .menu-links {
            display: none;
        }
        .nav {
            margin-left: auto;
        }
    }
    @media only screen and (min-width: $breakpoint-tablets) {
        .hamburger {
            display: none;
        }
        .menu-links {
            display: flex;
        }
        .nav {
            margin-left: auto;
            .menu-links li {
                margin-right: 1em;
            }
        }
    }
    @media only screen and (min-width: $breakpoint-laptops) {
        .hamburger {
            display: none;
        }
        .menu-links {
            display: flex;
        }
        .nav {
            margin-left: 15em;
        }
    }
}