.upper-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $dark;
    background: $bg-color;
    padding: 0.5em;
    .credentials {
        li {
            margin-left: 1em;
            span:first-child {
                margin-right: 0.5em;
            }
            &:first-child {
                margin-bottom: 0.5em;
                @media only screen and (min-width: $breakpoint-phones) {
                    margin-bottom: 0;
                    margin-right: 2em;
                }
            }
        }
        @media only screen and (min-width:$breakpoint-phones) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .select-language {
        display: flex;
        li>a {
            outline: none;
            color: $dark;
            font-weight: bold;
            &:first-child {
                margin-right: 1em;
            }
            &:hover,
            &:focus {
                color: $contrast-red;
            }
        }
        @media only screen and (max-width:300px) {
            margin-top: 0.5em;
            margin-left: 1em;
        }
    }
    @media only screen and (max-width:300px) {
        display: block;
    }
    @media only screen and (min-width:$breakpoint-tablets) {
        padding: 0.2em 4em;
    }
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $contrast-red;
    padding: 0.5em 1em;
    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .car {
            width: 10vw;
            height: auto;
            color: black;
            margin: 0.5em auto;
            @media only screen and (max-width: 180px) {
                width: 90vw;
            }
            @media only screen and (max-width: 300px) {
                width: 50vw;
            }
            @media only screen and (max-width: $breakpoint-phones) {
                width: 30vw;
            }
            @media only screen and (max-width: $breakpoint-tablets) {
                width: 20vw;
            }
        }
        a {
            color: $bg-color;
            text-decoration: none;
            outline: none;
            h1 {
                display: flex;
                flex-wrap: wrap;
                font-size: 2em;
                span {
                    color: $dark;
                    margin-right: 0.5em;
                }
            }
        }
    }
}

.top-middle-menu {
    background: $dark;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    .main-nav-links {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            padding: 0 1em;
            a {
                color: $bg-color;
                padding: 0 0.5em 0.2em 0.5em;
                &:hover,
                &:focus {
                    border-bottom: 6px solid $contrast-red;
                }
            }
        }
        @media only screen and (max-width:$breakpoint-phones) {
            display: none;
        }
    }
}