.main-img-container {
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/img/main.jpg") center center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0.2rem 0 0.7rem 0.1rem rgba(0, 0, 0, 0.5);
    .wellcome-text {
        color: $bg-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 1em;
        margin-right: 1em;
        h2 {
            text-align: center;
            animation: slide 0.4s;
            animation-delay: 1s;
            animation-fill-mode: both;
            @keyframes slide {
                0% {
                    transform: translateY(100%);
                    opacity: 0;
                }
                50% {
                    transform: translateY(40%);
                    opacity: 0.5;
                }
                100% {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
        p {
            margin-top: 1em;
            text-align: center;
            width: 80%;
            animation: slide 0.4s;
            animation-delay: 1.5s;
            animation-fill-mode: both;
            @keyframes slide {
                0% {
                    transform: translateY(100%);
                    opacity: 0;
                }
                50% {
                    transform: translateY(40%);
                    opacity: 0.5;
                }
                100% {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
        .button {
            margin-top: 2em;
            animation: slide 0.4s;
            animation-delay: 2s;
            animation-fill-mode: both;
            box-shadow: 0.2rem 0 0.7rem 0.1rem rgba(0, 0, 0, 0.5);
            @keyframes slide {
                0% {
                    transform: translateY(100%);
                    opacity: 0;
                }
                50% {
                    transform: translateY(40%);
                    opacity: 0.5;
                }
                100% {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }
}

.adverts {
    margin: 2em 8em;
    display: grid;
    grid-gap: 2em;
    grid-template-rows: 300px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @media only screen and (max-width: $breakpoint-phones) {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    @media only screen and (min-width: $breakpoint-phones) and (max-width: $breakpoint-tablets) {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    @media only screen and (min-width: $breakpoint-laptops) {
        grid-template-rows: 300px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .advert {
        box-shadow: 0.2rem 0 0.7rem 0.1rem rgba(0, 0, 0, 0.5);
        overflow: hidden;
        background: $contrast-red;
        .front {
            background: $contrast-red;
            color: $bg-color;
            width: 100%;
            height: 100%;
            padding: 2em 1em;
            display: flex;
            flex-direction: column;
            i {
                font-size: 2.5em;
                margin-bottom: 1em;
                align-self: center;
            }
            h6 {
                align-self: center;
                padding: 0 1em;
                text-align: center;
            }
        }
        .back {
            display: none;
            background: $contrast-blue;
            color: $bg-color;
            width: 100%;
            height: 100%;
            padding: 2em 1em;
            h6 {
                margin-bottom: 1em;
                text-align: center;
            }
        }
        &:hover,
        &:focus {
            .front {
                display: none;
            }
            .back {
                display: block;
            }
        }
    }
    @media only screen and(max-width:$breakpoint-phones) {
        margin: 2em 3em;
    }
    @media only screen and(max-width:$breakpoint-tablets) {
        margin: 2em 4em;
    }
    @media only screen and(min-width:$breakpoint-laptops) {
        margin: 2em 8em;
    }
}

.startAnimation {
    animation: slide 0.4s;
    animation-delay: 1s;
    animation-fill-mode: both;
    @keyframes slide {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }
        50% {
            transform: translateY(40%);
            opacity: 0.5;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}