html {
    color: $dark;
}

body {
    background: $bg-color;
}

.btn-up {
    position: fixed;
    bottom: 1em;
    right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    i {
        color: #990011;
        font-size: 2.5em;
        // &:hover,
        // &:focus {
        //     color: $contrast-blue;
        // }
    }
}