$contrast-red: #E34234;
$contrast-blue: #0D698B;
$bg-color: #F9F9F9;
$gray:#35474F;
$dark: #191B20;
$breakpoint-phones: 700px;
$breakpoint-tablets: 1040px;
$breakpoint-laptops:1919px;
$breakpoint-desktops:1920px;