$contrast-red: #ED1C24;
$bg-color: #F9F9F9;
$gray:#35474F;
$blue-gray: #423f52;
$light-gray:#94adb8;
$dark: #191B20;
$breakpoint-phones: 700px;
$breakpoint-tablets: 1040px;
$breakpoint-laptops:1919px;
$breakpoint-desktops:1920px;